body {
 background: #f0f0f0;
}

div#bodycontent{
 background: white;
 border-bottom: 2px solid #ccc;
 border-left: 2px solid #ccc;
 border-right: 2px solid #ccc;
 margin-top: none;
 padding: 10px 70px 0 70px;
 top: 0px;
}

h1,h2,h3,h4,h5,h6{
 color: #333;
 font-family: "Trebuchet MS", GillSans, Calibri, Arial, sans-serif;
 font-weight: bold;
 margin-bottom: 0.3em;
 padding-bottom: 0.3em;
}

h1{
 padding-top: 0.5em;
}

h2,h3,h4,h5,h6{
 padding-top: 1.2em;
}

h1{ font-size: 2.3em; }
h2{ font-size: 1.6em; }
h3{ font-size: 1.3em; }
h4{ font-size: 1.1em; }
h5{ font-size: 0.8em; }
h6{ font-size: 0.6em; }

p + h1{
 border-top: 2px solid lightgray;
 margin-top: 1.3em;
 padding-top: 1.6em;
}
 
h1 + h3{
 padding-top: 0;
}

hr{
 margin-top: 3em;
}
 
h2.h2top { color: black; font-weight: strong; margin: 0; padding-top: 0; padding-bottom: 0.1em; font-size: 1.2em; }
h2.h2mid { color: black; font-weight: normal; margin: 0; padding: 0 0 0.1em 0; font-size: 1.1em; }
h2.h2bot { color: black; font-weight: normal; margin: 0; padding: 0 0 0.5em 0; font-size: 1.1em; }

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline; color: red;}

p{
 margin: 1em 0em 1em 0em;
}

ins{
 background: #ff8;
 font-weight: bold;
}


/*** DIVS ***/


div#page{
 padding-bottom: 0.5em;
}

div.finder{
 background: #ddd;
 padding: 10px;
 margin-bottom: 1em;
}

div.hiddensort{
 display: none;
}

div.codeblock {
 background: #eee;
 border: 1px solid #ddd;
 margin: 1em 0 1em 0;
 padding: 0.5em 0 0.5em 0;
}




/**** SIXARM ****/


#logo {
 padding-top: 1px;
 padding-bottom: 1px;
}

#logo_left {
 float:left;
 width:240px;
}

#logo_right {
 float:right;
 width:84px;
}

#splash{
 border-bottom: solid 1px black;
}


#navigation{
 background: #ccc;
 border-top: 3px solid #ddd;
 border-bottom: 3px solid #bbb;
 color: #666;
 padding: 3px 0 2px 0px;
 width: 100%; 
}

#navigation a{
 border: 1px solid #ccc;
 color: #333; 
 font-size: 100%;
 font-weight: normal; 
 margin: 0;
 padding: 2px 1.2em 1px 1.2em;
 text-decoration: none;
}

#navigation a:hover{
 background: #fe4;
 border-right: 1px solid #ff8;
 border-bottom: 1px solid #ff8;
 border-top: 1px solid #da8;
 border-left: 1px solid #da8;
 color: #444;
}

#pageheader {}
#pagefooter {
 padding: 3em 0;
}


.recommendations table td.quote {
 background: #f3f3f3;
 font-size: 1.1em;
 padding: 0.5em 1.7em;
 text-align: center;
}

div.testimonials{
 width: 200px;
}

div.testimonial{
 background: #eee;
 margin: 0;
 padding: 0;
}

div.testimonial blockquote{
 margin: 0;
 padding: 0 0.9em 0 0.9em;
 letter-spacing: -1px;
}


